/* File per eventuali classi personalizzate, esterne a quelle predefinite di bootstrap */

/* Note to self: attenzione a non sovrascrivere le classi di bootstrap */


/* spacing */

div[class*="col"]  {
    padding: 20px;
    align-content: center;
}

div[class*="row"] {
    margin-bottom: 20px;
}

/* con tutti gl spazi omogenei, l'utilizzo del selettore globale della classe allegerisce il file html oltre a risparmiare tempo e codice */